__pycache__/
.ruff_cache/
build/
dist/
*.egg-info/
.pytest_cache/

# pyenv
.python-version

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# JetBrains
.idea/

# Docs build output
site/

/coverage.xml
/.coverage

# Generated/temp OpenAPI bundle files
openapi/bundled.yaml
openapi/bundled.orig.yaml
